<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<header>
    <% include partials/_header %>
</header>

<body>
    <!-- Add your EJS code here -->
    <p><b>Short URLs Database.</b></p>

    <% if (users) { %>
    <a href= "/urls/new">Add URL</a>
    <p>-----------------------------</p>
    <% for (let key in urls) { %>
      <% if(urls[key].userID === users) { %>
        <b>Short url:</b> <%= key %><br><br>
      <% } %>
      <b>Long url:</b> <%= urls[key].url %><br><br>

      <a href= <%= urls[key].url %> >Link to URL</a><br><br>

      <% if(urls[key].userID === users) { %>
        <a href= "/urls/<%= key %>">Update URL</a><br>
        <form method="POST" action="/urls/<%= key %>/delete">
        <p><input type="submit" class=" btn" value="Delete URL" /> </p>
        </form>
      <% } %>
      <p>-----------------------------</p>
    <% } %>
    <% } %>
</body>
</html>