<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<header>
    <% include partials/_header %>
</header>

<body>

    <!-- Add your EJS code here -->
    <p><b>URLs</b></p>
    <% for (let key in urls) { %>

      <b>Short url:</b> <%= key %><br><br>
      <b>Long url:</b> <%= urls[key] %><br><br>

      <a href= <%= urls[key] %> >Link to URL</a>

      <a href= "/urls/<%= key %>">Update</a>

      <form method="POST" action="/urls/<%= key %>/delete">
        <p> Delete button: <input type="submit" class=" btn" value="Delete URL" /> </p>
      </form>

      <br>

    <% } %>

</body>
</html>